# Unity Project Directories
Assets/*
!Assets/Editor/
!Assets/Shaders/
KSP/
Library/
Logs/
Packages/
ProjectSettings/
Temp/

# Unity Project Files
PartTools.cfg
*.sln
*.meta

# Misc Files
.ds_store
*.sublime*
