*.afdesign filter=lfs diff=lfs merge=lfs -text
*.afphoto filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.dds filter=lfs diff=lfs merge=lfs -text
*.mu filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.tif filter=lfs diff=lfs merge=lfs -text
*.dll filter=lfs diff=lfs merge=lfs -text
*.shab filter=lfs diff=lfs merge=lfs -text
*.truecolor filter=lfs diff=lfs merge=lfs -text
*.conformaldecals filter=lfs diff=lfs merge=lfs -text
*.kspfont filter=lfs diff=lfs merge=lfs -text
